#advice{
    background: #BACFE8;
    margin: 0;
}

#advice .topbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    padding: 50px 7% 50px 7%;
}

#advice .topbar .topbar-logo img{
    width: 30%;
}

#advice .topbar .topbar-button{
    text-align: right;
    padding-top: 35px;
}

#advice .topbar .topbar-button a{
  
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: #4E476D;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

#advice .border{
    padding: 50px 7% 50px 7%;
}

#advice .border .conseil-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 7% 50px 7%;
    border: solid 1px #4E476D;
    border-radius: 0px 50px 0px 0px;
}

#advice .border .conseil-text .conseil-text-img img{
    width: 75%;
    border-radius: 10px;
}

#advice .border .conseil-text .conseil-text-text .citation{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #4E476D;
}

#advice .border .conseil-text .conseil-text-text h3{
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.2px;
    color: #4E476D;
}

#advice .border .conseil-text .conseil-text-text .text{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #4E476D;
}

#advice .border .conseil-text .conseil-text-text .auteur{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #4E476D;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#advice .border .conseil-text .conseil-text-text a{
    text-decoration: none;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4E476D;
    border: solid 1px #4E476D;
    border-radius: 5px;
    padding: 20px 100px 20px 100px;
}

#advice .conseil-badge{
    background: white;
    padding: 50px 15% 50px 15%;
}

#advice .conseil-badge h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #29253B; 
    text-align: center;
}

#advice .conseil-badge .badge-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-simple{
    background: #F9F0EB;
    border-radius: 10px;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-simple p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 15px 20px 15px 20px;
    margin: 0 0 15px 0;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-1 .badge-1-img img{
    width: 60%;
    background: #E3E5F1;
    border-radius: 10px;
    padding: 10px;
    display: b;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-1 .badge-description h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #4E476D;
    border-bottom: 1px solid #F1DEDC;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-1 .badge-description p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-2 .badge-2-img img{
    width: 60%;
    background: #F9F0EB;
    border-radius: 10px;
    padding: 10px;
    display: b;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-2 .badge-description h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #4E476D;
    border-bottom: 1px solid #F1DEDC;
}

#advice .conseil-badge .badge-list .conseil-badge-left .badge-2 .badge-description p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}


